@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}
.text h1 {
  margin: 100px;
}
.text h1 {
  color: white;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 0 100px 0;
  background: rgba(0, 0, 0, 0.8);
}

.card-holder {
  width: 90%;
  margin: 2% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;

  background: rgba(0, 0, 0, 1);

  transition: 0.1s ease-in;
}
.card-holder img {
  border-radius: 3px;
  padding-top: 1rem;
  width: 100%;
  filter: brightness(95%);
}
.card-holder h1 {
  color: #ff4332;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.card-holder:hover {
  box-shadow: 0 8px 30px 0 rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 1200px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
